.App {
  text-align: center;
}

/* Nav bar styling */
#nav {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.nav-item {
  list-style: none;

  /* border: 1px solid black; */
  height: 55px;
  width: 175px;

  font-size: 35px;
}

li:hover{
  color: white; /* Font color wouldn't change unless I applied it to li*/

  cursor: pointer;
  background-color: #161925;
}

#header-profile-pic {
  height: 100px;
  justify-content: center;
}


.header {
  border: 1px solid #161925;
  background-color: #F1D302;

  display: flexbox;
}
/* End of Nav bar styling */

.feed {
  padding: 5px 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
}

.images {
  /* Fits images into grid cells */
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}